
body {
    background: #fafafa;
}
@media (max-width: 768px){
.sidebar {
    margin-left: -250px;
}

}
p {

    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 17px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background: #343941 !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-bottom: 8px
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /* background: #7386D5; */
    background: #343941;
    /* color: #fff; */
    color:#A9A9A9;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
    margin-bottom: 2px;
}

#sidebar .sidebar-header {
    padding: 24px;
    background: tomato;
    text-align: center;
    color: white
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    /* color: #fff; */
    color:#A9A9A9;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    /* font-size: 1.1em; */
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /* color: #fff; */
    color:#A9A9A9;
    background: #151515;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}



.list-style{
    background-color: #2a2a2a;  
}


#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .toggle2{
        margin-left: 0px !important
    }
    .toggle3{
        margin-left: -250px !important
    }
    .btnh{
        display: block
    }
}

@media (min-width: 1000px) {

.btnh{
    display: none
}
}
@media (min-width: 1250px) {
    .marginRight{
        margin-right: 600px
    }
}

.ml-auto, .mx-auto {
    margin-left: 0!important;
}

.font-bold{
    color:#A9A9A9 !important;
    font-weight: bold;
   
}

.gcolor{
    color:#0ff !important;;
   

}
.lg{
    font-size: 22px;
    margin-right: 4px;
    color:#A9A9A9 ;
    
}

.btnclr{
    background-color: #0ff
}
.margin-bottom-2{
    margin-bottom: 2px
}
.margin-bottom-3{
    margin-bottom: 3px
}
.margin-bottom-m{
    margin-bottom: 2.5px
}
.pie-section{
    display:block; width: 100%
}

