/* You can add global styles to this file, and also import other style files */
* body{
    /* background-color: #343941; */
    background-color: white;
    font-family:  'Roboto', sans-serif !important;
    overflow-x: hidden;
    /* padding-bottom: 1% */
}